{% load static %}

{% block content %}
    {% if form.errors %}

<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_active %}

<p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}

<p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<head>
  <title>Log In</title>
</head>
<div style="margin-top:5em">
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
<div class="login-page">
  <div class="form">

    <form method="post" action="{% url 'auth_login' %}" class="login-form">
      {% csrf_token %}

      <table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

      <input class="btn btn-success btn-sm" id="button" type="submit" value="login" />
      <input type="hidden" name="next" value="{{ next }}" />
      <p class="message">Lost password? <a href="{% url 'auth_password_reset' %}">Reset password</a></p>
      <p class="message">Not registered? <a href="{% url 'registration_register' %}">Create an account</a></p>
    </form>

  </div>
</div>
</div>




{% endblock %}

{% block javascript %}

<!--
<script>
{% if not user.is_authenticated %}
$("ul.nav.navbar-nav.navbar-right").css("display","none");
{% endif %}
</script>
-->

{% endblock %}
