{% load static %}

{% block content %}
<head>
  <title>Register</title>
</head>
<link rel="stylesheet" type="text/css" href="../static/css/login.css">
<div style="margin-top:5em">
<div class="register-page">
  <div class="form2" >
    <form class="register-form" method="post" action=".">

      {% csrf_token %}
      {{ form.as_p }}
      </br>
      <input class="btn btn-success btn-sm" id="create" type="submit" value="create"/>
      <input type="hidden" name="next" value="{{ next }}" />
      <p class="message" style="text-align:center">Already registered? <a href="../login">Sign In</a></p>
    </form>

  </div>
</div>
</div>

{% endblock %}
