{%extends 'base.html' %}
{% block content %}

<div class= "pull-center w3-container w3-content" style="max-width:1400px;margin-top:80px;margin-left:10em">
<div class="list-group col-md-2">
</div>
<div class="list-group col-md-3">
  <h3 class="text-center"> Friends</h3>
  <a href="#" class="list-group-item ">Cras justo odio 
	<button type="button" class="btn btn-primary btn-xs pull-right">
	<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Followed</button></a>

    <a href="#" class="list-group-item ">Cras justo odio 
	<button type="button" class="btn btn-success btn-xs pull-right">
	<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Follow</button></a>
</div>
   
<div class="list-group col-md-3">
  <h3 class="text-center"> Friend Request</h3>
  <a href="#" class="list-group-item ">Cras justo odio 

	<button type="button" class="btn btn-success btn-xs pull-right">
	<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Accept</button></a>



</div>

<div class="list-group col-md-3">
  <h3 class="text-center"> Followed</h3>
  <a href="#" class="list-group-item ">Cras justo odio 
	<button type="button" class="btn btn-primary btn-xs pull-right">
	<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Followed</button></a>

    <a href="#" class="list-group-item ">Cras justo odio 
	<button type="button" class="btn btn-success btn-xs pull-right">
	<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Follow</button></a>

</div>

</div>

{% endblock %}
