{%extends 'base.html' %}
{% block content %}

<!-- <div class= "pull-center w3-container w3-content" style="max-width:1400px;margin-top:80px;"> -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px;margin-left:10em">
<!-- <div class="list-group col-md-2">
</div> -->
<!-- <div class="list-group col-md-3">
  <h3 class="text-center"> Friends</h3>
  <a href="#" class="list-group-item ">Cras justo odio
	<button type="button" class="btn btn-primary btn-xs pull-right">
	<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Followed</button></a>

    <a href="#" class="list-group-item ">Cras justo odio
	<button type="button" class="btn btn-success btn-xs pull-right">
	<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Follow</button></a>
</div> -->


<div class="col-md-2 float-left">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{author}}</h3>
    </div>
    <div class="btn-group-vertical center-block" role="group">
       <a href="{% url 'profile' author.id %}" class="btn btn-default">Profile</a>
       <a href="{% url 'friendList' author.id %}" class="btn btn-primary"><strong>Friendship</strong></a>
       <a href="" class="btn btn-default">Followers</a>
    </div>
  </div>
</div>

<div class="list-group col-md-3">
  <h3 class="text-center"> Friend Request</h3>
  {% for f_request in friend_requests %}
  <a href="
  {% if author.id == viewer.id %}
    {% url 'AcceptFriendRequest' f_request.requester_id %}
  {% endif %}" class="list-group-item "> {{f_request.requester_displayName}}

  {% if author.id == viewer.id %}
  <button type="button" class="btn btn-success btn-xs pull-right">
  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Accept</button>
  {% endif %}
</a>
  {% endfor %}

</div>


<div class="list-group col-md-3">
  <h3 class="text-center">Friends</h3>
  {% for author in following_list %}
    <a href="{% url 'DeleteFriend' author.id %}" class="list-group-item ">  {{ author.displayName }}
    {% if author.relationship == 'friend' %}
	<button type="button" class="btn btn-danger btn-xs pull-right">
	<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> unFriend</button></a>
    {% else %}

    {% endif %}
  {% endfor %}

</div>

<div class="list-group col-md-3">
  <h3 class="text-center">Following</h3>
  {% for author in following_list %}
  <a href="#" class="list-group-item "> {{ author.displayName }} </a>

  {% endfor %}
</div>

</div>

{% endblock %}
