{%extends 'base.html' %}
{% block content %}

<!-- <div class= "pull-center w3-container w3-content" style="max-width:1400px;margin-top:80px;"> -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px;margin-left:10em">
<!-- <div class="list-group col-md-2">
</div> -->
<!-- <div class="list-group col-md-3">
  <h3 class="text-center"> Friends</h3>
  <a href="#" class="list-group-item ">Cras justo odio
	<button type="button" class="btn btn-primary btn-xs pull-right">
	<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Followed</button></a>

    <a href="#" class="list-group-item ">Cras justo odio
	<button type="button" class="btn btn-success btn-xs pull-right">
	<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Follow</button></a>
</div> -->

<title>Friend List</title>
<div class="col-md-2 float-left">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{author}}</h3>
    </div>
    <div class="btn-group-vertical center-block" role="group">
       <a href="{% url 'profile' author.id %}" class="btn btn-default">Profile</a>
       <a href="{% url 'friendList' author.id %}" class="btn btn-primary"><strong>Friendship</strong></a>
    </div>
  </div>
</div>

<div class="list-group col-md-4">
  <h3 class="text-center"> Friend Request</h3>
  {% for f_request in friend_requests %}
    <div class="list-group-item" style="width:100%">
      {{f_request.requester_displayName}}

      <span class="pull-right">
          <form action="{% url 'AcceptFriendRequest' %}" method="post" style="display: inline !important;">
          {% csrf_token %}
          <input type="hidden" name="requester_id" value="{{ f_request.requester_id }}" />
          <input type="hidden" name="decide" value="Accept" />

          {% if author.id == viewer.id %}
          <!-- <div style="display: inline"> -->
          <button type="submit" class="btn btn-success btn-xs">
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Accept</button>
          <!-- </div> -->
          </form>

          <form action="{% url 'AcceptFriendRequest' %}" method="post" style="display: inline !important;">
          {% csrf_token %}
          <input type="hidden" name="requester_id" value="{{ f_request.requester_id }}" />
          <input type="hidden" name="decide" value="Decline" />
          <button type="submit" class="btn btn-danger btn-xs">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Decline</button>
          </form>
          {% endif %}
      </span>
    </div>
  {% endfor %}

</div>



<div class="list-group col-md-4">
  <h3 class="text-center"> Following and Friends</h3>
  {% for f_author in following_list %}
  <div class="list-group-item " style="height:100%">

    {% if f_author.relationship == 'friend' %}
    <span class="label label-success"  style="height:12px;
                                        padding:4px 6px;
                                        font-size:9pt;
                                        font-weight:400; ">
     <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
       Friend
     </span>
    {% else %}
         <span class="label label-info"  style="height:12px;
                                             padding:4px 6px;
                                             font-size:9pt;
                                             font-weight:400; ">
          <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
          Following
        </span>
    {% endif %}



    <div style="display:inline; padding-left:6px;">
      {{ f_author.displayName }}
    </div>

    {% if author.id == viewer.id %}
    <form action="{% url 'DeleteFriend' %}" method="post" style="display:inline">
      {% csrf_token %}
      <input type="hidden" name="author_id" value="{{ f_author.id }}" />
      <button type="submit" class="btn btn-danger btn-xs pull-right">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        Un-follow
      </button>
    </form>
    {% endif %}

  </div>


  {% endfor %}

</div>


</div>

{% endblock %}
