{% extends 'base.html' %}

{% block content %}
<div class="container clearfix">
  <div class="col-md-2 float-left">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">User</h3>
      </div>
      <div class="btn-group-vertical center-block" role="group">
         <a href="" class="btn btn-primary"><strong>Profile</strong></a>
         <a href="" class="btn btn-default">Friendship</a>
         <a href="" class="btn btn-default">Github</a>
      </div>
    </div>
  </div>
  <div class="col-md-10 float-right">
    <div class="Subhead">
      <span class="col-md-10 float-left">
        <h2 class="Subhead-heading"> Profile </h2>
      </span>
      <span class="col-md-2 float-right">
        <button type="button" class="btn btn-default">Follow</button>
      </span>
      <hr>
    <div/>
    <form action="{% url 'profile' user.username %}" method="post" enctype="multipart/form-data">
      <div class="col-md-6 float-left">
        <div class="form-group">
          <label >User name</label>
          <input type="text" class="form-control" value="{{ user.username }}" readonly>
        </div>
        {% csrf_token %}
        <div class="form-group">
          <label >Email address</label>
          <input type="email" name="email" class="form-control" value="{{ user.email }}">
        </div>
        <div class="form-group">
          <label >Github</label>
          <input type="text" name="github" class="form-control" value="{{ user.profile.github }}">
        </div>
        <div class="form-group">
          <label >Bio</label>
          <input type="text" name="bio" class="form-control" value="{{ user.profile.bio }}">
        </div>
        <p>
          <button type="submit" class="btn btn-default">Update Profile</button>
        </p>
      </div>
  
      <div class="col-md-4 float-right">
        <img class = "img-rounded center-block" alt="user photo" src={{user.profile.img.url}} height=300px width=300px/>
        <hr>
        <label class="btn btn-default btn-file center-block">
          Uploade new picture <input name="image" class="hidden" type="file" accept="image/*">
        </label>
      </div>
    </form>
  </div>

{% endblock %}
{% block javascript %}
{% endblock %}