<!DOCTYPE html>
<html lang="en">

<head>
    <title>My Profile</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{%static 'css/profile.css' %}">

</head>






<body>
  {% if user.profile.is_active %}
    <!--{# {% user.profile.is_active == True %} #}-->
    <div class="profile">

        {% if profile.photo %}
            <img alt="user photo" src="{{ STATIC_URL }}/users/{{user.id}}/{{profile.photo }}" >
        {% else %}
            <img alt="user photo" src="{% static "/images/defaultUserImage.png" %}" width = "150" height = "150">
        {% endif %}
        <br/><br/>


        <table><tbody>
              <tr><td>Username</td><td>{{ user.username }}</td><tr>
              <tr><td>Email</td>
                  <td>{% if user.email %} {{ user.email }}
                      {% else %} n/a
                      {% endif %}</td><tr>

              <tr><td>Github</td>
                <td>{% if user.profile.github %} {{ user.profile.github }}
                    {% else %} n/a
                    {% endif %}</td><tr>

              <tr><td>Bio</td>
                <td>{% if user.profile.bio %} {{ user.profile.bio }}
                    {% else %} n/a
                    {% endif %}</td><tr>
       </tbody></table>
    </div>
    <br/>

    {% if request_by %}
      {% if request_by.id == user.id %}
        <!-- <p> Your account has not yet been approved by admin. Please wait until you been approved.</p> -->
        <!-- <button id="show" class="editProfile"> -->
          <a class="editProfile" href="{% url 'profile_edit' %}">Edit Profile</a>
        <!-- </button> -->
        <button id="show" class="uploadPhoto">Upload Photo</button>


    <!-- <button id="show" class="write post"> -->
      <a href="{% url 'create_post_html' %}">Write post</a>
    <!-- </button> -->
      <!-- <button id="show" class="editPost"> -->
      <a href="{% url 'ViewMyStream' %}">Edit Posts</a>
    <!-- </button> -->
             <div id="friend_request">
          <h3>My Friend request</h3>



                {% if friend_request %}   
                        {% for request in friend_request %}
                        <div class="double">
                                <div>
                                  {% if request.status == False %}
                                        {{ request.request_sender}} wants to be your friend
                                        <button id="accept" class="accept_friend">
                                          <form action="{% url 'accept_friend' %}" method="post">
                                                        {% csrf_token %}
                                            <input name="request_id" value="{{ request.request_id }}" type = "hidden" />
                                            <input type="submit" value="Accept"/>
                                          </form>
                                        </button>
                                  {% endif %}
                                </div>  
                        </div>
                        {% endfor %}
                {% else %}
                        <p>No Requests.</p>
                {% endif %}



                <h3>My Friends</h3>
                {% if friend_list %}
                    {% for friend in friend_list %}
                        <div class="double">
                            {{friend}}
                        </div>
                        {% endfor %}
                {% else %}
                      <p>You have no friends.</p>
                {% endif%}


            


      {% else %}


        <!-- <p> This user haven been approved by admin. </p> -->
<!--         {% if friend_list %}
            {% for friend in friend_list %}
             
             {% if friend.user == user%}
                <p> You guys are Friend !</p>


              {% else %}

             {% endif %}
             

             {% endfor %}

         {% endif %} -->
          {% if  isFriend == True %}
            <p> you guys are friends !</p>
          {% else%}
                         <button id="show" class="uploadPhoto">Follow</button>

            <!-- <button id="show" class="Add_friend"><a href="{% url 'Add_friend' %}">Add Friend</a></button> -->


            <form action="{% url 'Add_friend' %}" method="post">
                {% csrf_token %}
                <input name="request_sender" value="{{ request_by.id }}" type = "hidden" />
                <input name="request_receiver" value="{{ user.id }}" type = "hidden" />

                <input type="submit" value="Add Friend"/>
             </form>
         {% endif %}



         </div>



      {% endif %}
    {% else %}
    {% endif %}




  {% else %}
    {% if request_by %}
      {% if request_by.id == user.id %}
        <p> Your account has not yet been approved by admin. Please wait until you been approved.</p>
      {% else %}
        <p> This user haven been approved by admin. </p>
      {% endif %}
    {% else %}

      <p> This user haven been approved by admin. </p>
    {% endif %}

  {% endif %}


</body>
