<!DOCTYPE html>
<html lang="en">

<head>
    <title>Write a new POST</title>
</head>
</br>
<div style="width:40%; position: relative; left: 27%; top:30%;
            border: 2px solid	#e9f2fc; padding:2em;
            text-align:center; background-color: #eaf2fb; font-family: verdana;" >
  <h1>Write A New Post ~</h1>

<form method="post" enctype="multipart/form-data" action="{% url 'create_post' %}">
{% csrf_token %}
	<div class="selection">
		<select name="post_type">
		<option value= 0>public</option>
		<option value= 1>only friends</option>
		<option value= 2>Friends of friends</option>
		<option value= 3>Private</option>
    <option value= 4>Unlisted</option>
		</select>

    <select name="content_type">
    <option value= 0>Plain Text</option>
    <option value= 1>Markdown</option>
  </select></br>
	</div>
	<div>
	<textarea name="POST_TEXT" rows="4" cols="50" ></textarea>
	</div>

	<div>
		<h3>Choose a picture to upload!</h3>
		<input style="margin-left:20%" name="uploadFile" type="file" />
	</div>

	<input type="submit" name="create new post" value="Submit">

</form>
</div>
