{%extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class="w3-container w3-content " style="max-width:1400;margin-top:80px;margin-left:10em">
    <div class="w3-card-2 w3-round w3-white center-block">
        <form id="updateForm" class="form-horizontal" role="form" action="{% url 'update_post' post.id %}" method="post" >{% csrf_token %}
            <div class="form-group">
                <label for="author" class="col-sm-3 control-label">Author:</label>
                <div class="col-sm-6 read">
                    <input name = "author" type="text" id="author" value="{{post.author.displayName }}" placeholder="{{post.author.displayName}}" class="form-control" readonly>
                    <span class="help-block">@ author: <a href={% url 'profile' post.author.id %}>{{post.author.id}}</a></span>
                </div>
            </div>
            {% csrf_token %}
            {{ form|crispy }}
            <div class="form-group  center-block " role="group" aria-label="...">
                <div class="list-group col-md-4"></div>
                <div class="btn-group btn-lg" role="group">
                    <button type="update_button" id= "update" class="btn btn-primary"> Update Post </button>
			    </div>
			    <div class="btn-group btn-lg" role="group">
			        <a type="button" id= "deletePost" class="btn btn-danger" href="{%url 'delete_post' post.author.id post.id%}" > Delete Post </a>
			    </div>
        </div>

            </form> <!-- /form -->
        </div> <!-- ./container -->

{% endblock %}

{% block javascript %}
<script>
  var readable = document.getElementsByClassName("read");
  var myVis = document.getElementById("myVis").value;
  var myType = document.getElementById("myType").value;
  var unlisted = document.getElementById("unlisted").value;

  var update = document.getElementById("update");
  var deletePost = document.getElementById("deletePost");

  document.getElementById('visibility').value = myVis
  document.getElementById('content_type').value = myType

  if(unlisted=="True") {
    //alert(unlisted);
    document.getElementById("listornot")[1].selected=true;
  }


  if({{author.id}}!={{viewer.id}}) {
    update.style.visibility = "hidden";
    deletePost.style.visibility = "hidden";

    for(i=0;i<readable.length;i++) {
        readable[i].readOnly = true;
      }
  }

    $(document).ready(function() {
       $("#update_button").click(function() {
           $("#updateForm").submit();
       });
    });


</script>
{% endblock %}
