{% load static %}
<!DOCTYPE html>

<html>
  <head>
    <title>A shared post from {{ post.author }}</title>
    <style type="text/css">
      .post {
        text-align: center;
        border-style: solid;
      }
    </style>
  </head>

  <body>
    <div class="post">
      {% if profile.photo %}
          <img alt="user photo" src="{{ STATIC_URL }}/users/{{user.id}}/{{profile.photo }}" >
      {% else %}
          <img alt="user photo" src="{% static "../static/images/defaultUserImage.png" %}" width = "30" height = "30">
      {% endif %}
      {{ post.author }}  ({{ post.pub_datetime }})</br></br>
      {{ post.post_text }}</br></br>
    </div>
  </body>
</html>
