{% extends 'base.html' %}
{% load static %}
{% load markdown_deux_tags %}

{% block content %}
<!DOCTYPE html>

<html>
  <head>
    <title>A shared Post from {{ post.author }}</title>
    <style type="text/css">
      .post {
        text-align: center;
        border-style: solid;
      }
    </style>
  </head>

  <body>


    <div class="w3-container w3-card-2 w3-white w3-round w3-margin"><br>
      <span class="w3-right w3-opacity">{{post.published}}</span>
      <h3>
      <img alt="user photo" class="img-rounded" height=48 width=48 src="{{ post.author.img.url }}" >
      <a href="{% url 'profile' post.author.id %}" >{{ post.author.displayName }}</a></h3>
      <span>Title:    </span><a> {{ post.title }}</a></br></br>
      <span>Description :    </span>{{ post.description }}
      <hr class="w3-clear">
      <ul style="list-style: none">
      <li>  </br>
      {% if post.contentType == 1 %}
      {{ post.content|markdown }}
      {% else %}
      {{ post.content|urlize }}
      {% endif %}

    </br></br>
        <div class="w3-row-padding" style="margin:0 -16px">
         {% for image in images%}
          {% if post.id == image.post.id%}
          <div class="w3-half">
            <img src="{{image.post_image.url}}" style="width:40%" alt="POST IMAGE" class="w3-margin-bottom">
          </div>
          {%endif%}
          {% endfor %}
      </div>

    <div style="text-align:left">
        {% for comment in post.comments.all %}
          <hr class="w3-clear">
          comment by {{comment.author}}: {{comment.comment}} ({{comment.published}})</br>
        {% endfor %}
    </div></br>
      <hr class="w3-clear">
              <button onclick="clickFun()"><i class="fa fa-plus"></i> Comment</button>
        </br></br>

        <form action="{% url 'comment' %}" method="POST">
        <div class="editor" id="test" style="display:none">
            <div class="editor-header">
                <div style="width:20%">
                    <select name ="content_type" class="form-control" value = "{{commentType}}">
                        <option value = 'text/plain' selected="true">Plain Text</option>
                        <option value = 'text/markdown'>Markdown</option>
                   </select>
               </div> <!-- /.form-group -->
             </div>

         <input hidden="hidden" name="github" value = "{{user.profile.github}}" id="githubID"/>
             {% csrf_token %}
               <input style= "width:80%" name="comment_text" class="editor-content"/>
               <input hidden="hidden" name="post_id" value = "{{post.id }}"/>
               <input type="submit" class="w3-button w3-theme-d2 w3-margin-bottom" value = "Comment" />
          </div>
       </form>
    </div>

      </li></br>
    </ul>

  </body>
</html>
{% endblock %}



{%block javascript%}
<script>
//alert('x');

function clickFun() {
  var elm = document.getElementsByClassName("editor");
  //alert(elm.length);
  for(i=0;i<elm.length;i++) {
    if (elm[i].style.display === 'none') {
        elm[i].style.display = 'block';
    } else {
        elm[i].style.display = 'none';
    }
  }
}
</script>
{% endblock %}