<!DOCTYPE html>
{% load markdown_deux_tags %}

<html>
        <head>
                <meta charset="utf-8">
                <title>All posts</title>
                <style>

                div.double {border-style: double;}

</style>
        </head>

        <body>
                <!-- List of all posts you can view -->
                {% if posts %}
                        <ul>
                        {% for post in posts %}
                        <div class="double">
                                <li>{{ post.author}} {{ post.pub_datetime}}
                                <div>
                                        {{ post.post_text}}
                                </div>
                                </li>
                        </div>
                        {% endfor %}
                        </ul>
                {% else %}
                        <p>No POSTS.</p>
                {% endif %}


        </body>

</html>
