{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<!-- Trigger Modal for post -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<head>
  <title>Aname</title>
</head>

<body class="w3-theme-l5">

<!-- Navbar -->
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="{% url 'home' %}" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i class="fa fa-home w3-margin-right"></i>Home</a>
  {% if request.user.username and request.user.author.is_active %}
  <button type="button" class="w3-bar-item w3-button w3-padding-large w3-theme-d4" data-toggle="modal" data-target="#myModal"><i class="fa fa-pencil"></i> Post</button>
  {% if request.user.is_staff%}
  <a href="/admin/" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i class="fa fa-user-secret w3-margin-right"></i>Admin</a>
  {% endif %}
  <div class="w3-dropdown-hover w3-hide-small w3-right">
    <button class="w3-button w3-padding-large " title="Edit Profile"><i class="fa fa-user"></i><span class="w3-badge w3-right w3-small w3-green"></span></button>
    <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:180px;font-size:80%">
      <a href=" {% url 'profile' request.user.author.id %} " class="w3-bar-item w3-button" style="color:#aaa;">
        <div>Logged in as</div> {{request.user.username}}
      </a>
      <a href="{% url 'stream' request.user.author.id %}" class="w3-bar-item w3-button">My Stream</a>
      <a href="{% url 'friendList' request.user.author.id %}" class="w3-bar-item w3-button">Friend list</a>
      <a href=" {% url 'profile' request.user.author.id %} " class="w3-bar-item w3-button">Edit Profile</a>
      <a href="/logout/" class="w3-bar-item w3-button" title="logout">Log out</a>
    </div>
    <a href="" class="w3-bar-item w3-hide-small w3-right w3-padding-large" ><img src="{{request.user.author.img.url}}" class="w3-circle" style="height:25px;width:25px" alt="Avatar"></a>
  </div>
  <div class="w3-dropdown-hover w3-hide-small w3-right">
    <button class="w3-button w3-padding-large" title="Notifications">
      <i class="fa fa-bell"></i>
      <span class="w3-badge w3-right w3-small w3-green"></span>
    </button>
    <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:180px;font-size:80%">
      <a href="{% url 'friendList' request.user.author.id %}" class="w3-bar-item w3-button">New friend request</a>
    </div>
  </div>
  {% else %}

  {% if not request.user.author.is_active and request.user.username%}
  <div class="w3-dropdown-hover w3-hide-small w3-right">
    <button class="w3-button w3-padding-large">Awaiting Activation</button>
    <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:200px;font-size:80%">
      <a href="" class="w3-bar-item w3-button" style="color:#aaa;width:100%" title="NotActive">
        <p>Your account haven't been activated by site admin. </p>
        <p>Please wait your account to be activated before you can write posts. </p>
      </a>
      <a href="/logout/" class="w3-bar-item w3-button" title="logout">Log out</a>
    </div>
  </div>
  {% else %}
  <a href="/login/" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="login">Log in</a>
  <a href="/register/" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="signup">Sign up</a>
  {% endif %}

  {% endif %}
 </div>
</div>

<!-- Navbar on small screens -->

{% block content %}
{% endblock %}


<!-- Trigger the modal with a button -->
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content w3-light-grey">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <strong><h1 class="modal-title center-block">Write A New Post</h2></strong>
      </div>
      <div class="modal-body">
        <div>

        <form method="post" enctype="multipart/form-data" action="{% url 'create_post' %}">
          {% csrf_token %}
          {{ form|crispy }}
          <input type="file" name="files" multiple>
          <button type="submit" class="save btn btn-success" >Save</button>
        </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<script>
// Accordion
function myFunction(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
        x.previousElementSibling.className += " w3-theme-d1";
    } else {
        x.className = x.className.replace("w3-show", "");
        x.previousElementSibling.className =
        x.previousElementSibling.className.replace(" w3-theme-d1", "");
    }
}

// Used to toggle the menu on smaller screens when clicking on the menu button
function openNav() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>
{% block javascript %}
{% endblock %}


</body>
</html>
