{% extends 'base.html' %}
{% load markdown_deux_tags %}
{% load static %}

{% block content %}


<title>Social Distribution</title>

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px;margin-left:10em">
  <!-- The Grid -->
  <div class="w3-row">
  {% if author %}
  <!-- Left Column -->
    <div class="w3-col m3">
      <!-- Profile -->
      <div class="w3-card-2 w3-round w3-white">
        <div class="w3-container">

        <h4 class="w3-center">My Profile</h4>
         <p class="w3-center"><img src="{{author.img.url}}" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
         <hr>
         <p><i class="fa fa-envelope fa-fw w3-margin-right w3-text-theme"></i>{{author.displayName}}</p>
         <p><i class="fa fa-github fa-fw w3-margin-right w3-text-theme"></i>{{author.github}}</p>
         <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i>{{author.bio}}</p>
         {% if author.is_active %}
         <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i>Status: Activated</p>
         {% else %}
         <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i>Status: Awaiting activation</p>

         {% endif %}
        </div>
      </div>
      <br>
      <a href="{% url 'friendList' request.user.author.id %}">
        <div id = "FRID" class="w3-card-2 w3-round w3-white w3-center" style="background-color:#CCEEFF !important;">
        </div>
      </a>
      <br>


      <div class="w3-card-2 w3-round w3-white">
      <div class="w3-container">

      <h4 class="w3-center">Github Activity</h4>

      <div id = "gitID" class="w3-card-2 w3-round w3-white w3-center">

      </div>

      <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom" onclick="pullgithub('{{author.github}}')">Pull more github activites</button>


      </div>
    </div>


    </div>



    <!-- End Left Column -->
      <input hidden="hidden" id="logged" value = "Yes"/>
    {% else %}
      <input hidden="hidden" id="logged" value = "No"/>
    {% endif %}

    <!-- Middle Column -->
    {% if author %}
    <div class="w3-col m7" style="width:55em; margin-top:-1em">
    {% else %}
    <div class="w3-col m7" style="width:85%; margin-top:-1em">
    {% endif %}
    {% if posts %}
    <ul style="list-style-type: none">
    {%for post in posts%}
        <div class="w3-container w3-card-2 w3-white w3-round w3-margin"><br>
            <span class="w3-right w3-opacity">{{post.published}}</span>
            <h3>
            <img alt="user photo" class="img-rounded" height=48 width=48 src="{{ post.author.img.url }}" >
            <a href="{% url 'profile' post.author.id %}" >{{ post.author.displayName }}</a></h3>
            <span>Title:    </span><a href="{% url 'onePost' post.author.id post.id %}" > {{ post.title }}</a></br></br>
            <span>Description:    </span>{{ post.description }}
            <hr class="w3-clear">
            <ul style="list-style: none">
            <li>  </br>
            {% if post.contentType == 'text/markdown' %}
            {{ post.content|markdown }}
            {% else %}

            {% if post.contentType != 'image/png;base64' and post.contentType != 'image/jpeg;base64' %}
            <!-- {{ post.content|urlize }} -->
            {{ post.content }}
            {% endif %}

            {% endif %}




          {% if post.contentType == 'image/png;base64' or post.contentType == 'image/jpeg;base64' and post.temp == True %}
          <div class="w3-row-padding" style="margin:0 -16px">
          <div class="w3-half">
            <img src="{{post.content}}" style="width:40%" alt="POST IMAGE" class="w3-margin-bottom">
          </div>
          </div>
          {% endif %}



        <div class="w3-row-padding" style="margin:0 -16px">
         {% for image in images%}
          {% if post.id == image.post.id%}
          <div class="w3-half">
            <img src="{{image.post_image.url}}" style="width:40%" alt="POST IMAGE" class="w3-margin-bottom">
          </div>
          {%endif%}
          {% endfor %}
      </div>
            </br></br>


        <div style="text-align:left">
            {% for comment in post.comments.all %}
                <hr class="w3-clear">
                comment by {{comment.author}}:
                {% if comment.contentType == 1 %}
                {{ comment.comment|markdown }}
                {% else %}
                {{ comment.comment|urlize }}
                {% endif %}
                ({{comment.published}})</br>
            {% endfor %}
        </div></br>
        <hr class="w3-clear">
        <button onclick="clickFun()"><i class="fa fa-plus"></i> Comment</button>
        </br></br>

        <form action="{% url 'comment' %}" method="POST">
        <div class="editor" id="test" style="display:none">
            <div class="editor-header">
                <div style="width:20%">
                    <select name ="content_type" class="form-control" value = "{{commentType}}">
                        <option value = 'text/plain' selected="true">Plain Text</option>
                        <option value = 'text/markdown'>Markdown</option>
                   </select>
               </div> <!-- /.form-group -->
             </div>

         <input hidden="hidden" name="github" value = "{{user.profile.github}}" id="githubID"/>
             {% csrf_token %}
               <input style= "width:80%" name="comment_text" class="editor-content"/>
               <input hidden="hidden" name="post_id" value = "{{post.id }}"/>
               <input type="submit" class="w3-button w3-theme-d2 w3-margin-bottom" value = "Comment" />
          </div>
       </form>
       </br>



                     </li></br>
              <!-- else I am not -->






    </li></br></ul></div>
      {% endfor %}
      {% else %}
        <p>You do no have any stream to show yet.</p>

      {% endif %}
    </div>
    </div>
    <!-- End Middle Column -->


  <!-- End Grid -->
  </div>

<!-- End Page Container -->
</div>
{%endblock%}
{%block javascript%}
<script>
//alert('x');
var friend_list = {};

function clickFun() {
  var elm = document.getElementsByClassName("editor");
  //alert(elm.length);
  for(i=0;i<elm.length;i++) {
    if (elm[i].style.display === 'none') {
        elm[i].style.display = 'block';
    } else {
        elm[i].style.display = 'none';
    }
  }
}

function getXMLHTTPRequest(url)
{ //This code was taken directly from professor's slides.
    var xhr = new XMLHttpRequest();
    xhr.open('GET', url)
    xhr.onreadystatechange = function () {
        if (xhr.readyState == 4) {
            try {
                if (xhr.status==200) {
                    friend_list = JSON.parse(xhr.responseText);
                }
            } catch(e) {
                alert('XML Get Error: ' + e.name);
            }
        }
    };
    xhr.send();
}

if (document.getElementById('logged').value == "Yes")
{

        function update()
        {
            getXMLHTTPRequest('/friend_request_list');
            var myNode = document.getElementById("FRID");
            while (myNode.firstChild)
            {
                myNode.removeChild(myNode.firstChild);
            }

            //var matches = /"requester_displayName"\:(.+),/gi.exec(friend_list);

            while (friend_list.length >0)
            {
                //var obj = matches[1];
                var first = friend_list.indexOf("requester_displayName");
                friend_list = friend_list.substr(first+25);
                var second = friend_list.indexOf("requester_host");
                friend_list2 = friend_list.substr(0,second-4);
                var obj = friend_list2;
                if (friend_list2 == "")
                {
                  break;
                }
                var node = document.createElement("DIV");
                // alert(node.href);
                var textnode = document.createTextNode(obj.concat(" wants to be your friend"));
                node.style.fontSize = "large";
                node.appendChild(textnode);
                document.getElementById("FRID").appendChild(node);
            }
        }
        //https://www.w3schools.com/jsref/tryit.asp?filename=tryjsref_node_appendchild
        //30 frames per second
        setInterval(update, 30000/30.0);

}

//Took from hindle's assignment code
function sendJSONXMLHTTPRequest(url, callback) {
    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function () {
        if (xhr.readyState==4) {
            try {
                if (xhr.status==200) {
                  var response = JSON.parse(xhr.responseText);
                  callback(response);
                }
            }
            catch(e) {
                alert('Error: ' + e.name);
            }
        }
    };
    xhr.open("GET",url);
    xhr.setRequestHeader("Accept","application/json");
    xhr.send(null);
}

function pullgithubByName(response) {
  var gitNode = document.getElementById('gitID');
  for (var i = 0; i < response.length; i++)
  {
    var divNode = document.createElement("DIV");
    var divString = 'Repo Name :' + response[i].repo.name + '</br>Event Type: ' + response[i].type
       + '</br>Repo Owner: ' + response[i].actor.display_login + "</br>Time: " + response[i].created_at + '</br></br>'
    divNode.innerHTML = divString;
    gitNode.appendChild(divNode);
  }
}

var page = 1;
var per_page = 3;
//https://api.github.com/users/zhangtuxin/events/public?page=1
//https://developer.github.com/v3/
function pullgithub(githubname) {
  var url = 'https://api.github.com/users/' + githubname + '/events/public?page=';
  var update_url = url + String(page) + '&per_page=' + String(per_page);
  sendJSONXMLHTTPRequest(update_url,pullgithubByName);
  page++;
}

</script>
{% endblock %}
