{% extends 'base.html' %}
{% load markdown_deux_tags %}
{% load static %}

{% block content %}


<title>Social Distribution</title>

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px;margin-left:10em">
  <!-- The Grid -->
  <div class="w3-row">
  {% if author %}
  <!-- Left Column -->
    <div class="w3-col m3">
      <!-- Profile -->
      <div class="w3-card-2 w3-round w3-white">
        <div class="w3-container">

        <h4 class="w3-center">My Profile</h4>
         <p class="w3-center"><img src="{{author.img.url}}" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
         <hr>
         <p><i class="fa fa-envelope fa-fw w3-margin-right w3-text-theme"></i>{{author.displayName}}</p>
         <p><i class="fa fa-github fa-fw w3-margin-right w3-text-theme"></i>{{author.github}}</p>
         <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i>{{author.bio}}</p>
        </div>
      </div>
      <br>
      <div class="w3-card-2 w3-round w3-white w3-center">
        {% for f_request in Friend_request%}
        <div class="w3-container">
          <p>Friend Request</p>
          <!-- <img  src="{{ post.author.profile.img.url }}" alt="Avatar" style="width:50%"><br> -->
          <span>{{f_request.requester_displayName}}</span>
          <div class="w3-row w3-opacity">
            <div class="w3-half">
              <a href="{% url 'AcceptFriendRequest' f_request.requester_id %}"><button class="w3-button w3-block w3-green w3-section" title="Accept"><i class="fa fa-check"></i></button></a>
            </div>

          </div>
        </div>

        {% endfor %}
      </div>
      <br>



    </div>
    <!-- End Left Column -->

    {% endif %}

    <!-- Middle Column -->
    {% if author %}
    <div class="w3-col m7" style="width:55em; margin-top:-1em">
    {% else %}
    <div class="w3-col m7" style="width:85%; margin-top:-1em">
    {% endif %}
    {% if posts %}
    <ul style="list-style-type: none">
    {%for post in posts%}
        <div class="w3-container w3-card-2 w3-white w3-round w3-margin"><br>
            <span class="w3-right w3-opacity">{{post.published}}</span>
            <h3>
            <img alt="user photo" class="img-rounded" height=48 width=48 src="{{ post.author.img.url }}" >
            <a href="{% url 'profile' post.author.id %}" >{{ post.author.displayName }}</a></h3>
            <span>Title:    </span><a href="{% url 'onePost' post.author.id post.id %}" > {{ post.title }}</a></br></br>
            <span>Description:    </span>{{ post.description }}
            <hr class="w3-clear">
            <ul style="list-style: none">
            <li>  </br>
            {% if post.contentType == 'text/markdown' %}
            {{ post.content|markdown }}
            {% else %}
            {{ post.content|urlize }}
            {% endif %}


        <div class="w3-row-padding" style="margin:0 -16px">
         {% for image in images%}
          {% if post.id == image.post.id%}
          <div class="w3-half">
            <img src="{{image.post_image.url}}" style="width:40%" alt="POST IMAGE" class="w3-margin-bottom">
          </div>
          {%endif%}
          {% endfor %}
      </div>
            </br></br>


        <div style="text-align:left">
            {% for comment in post.comments.all %}
                <hr class="w3-clear">
                comment by {{comment.author}}:
                {% if comment.contentType == 1 %}
                {{ comment.comment|markdown }}
                {% else %}
                {{ comment.comment|urlize }}
                {% endif %}
                ({{comment.published}})</br>
            {% endfor %}
        </div></br>
        <hr class="w3-clear">
        <button onclick="clickFun()"><i class="fa fa-plus"></i> Comment</button>
        </br></br>

        <form action="{% url 'comment' %}" method="POST">
        <div class="editor" id="test" style="display:none">
            <div class="editor-header">
                <div style="width:20%">
                    <select name ="content_type" class="form-control" value = "{{commentType}}">
                        <option value = 0 selected="true">Plain Text</option>
                        <option value = 1>Markdown</option>
                   </select>
               </div> <!-- /.form-group -->
             </div>

         <input hidden="hidden" name="github" value = "{{user.profile.github}}" id="githubID"/>
             {% csrf_token %}
               <input style= "width:80%" name="comment_text" class="editor-content"/>
               <input hidden="hidden" name="post_id" value = "{{post.id }}"/>
               <input type="submit" class="w3-button w3-theme-d2 w3-margin-bottom" value = "Comment" />
          </div>
       </form>
       </br>



                     </li></br>
              <!-- else I am not -->






    </li></br></ul></div>
      {% endfor %}
      {% else %}
        <p>You do no have any stream to show yet.</p>

      {% endif %}
    </div>
    </div>
    <!-- End Middle Column -->


  <!-- End Grid -->
  </div>

<!-- End Page Container -->
</div>
{%endblock%}
{%block javascript%}
<script>
//alert('x');
function clickFun() {
  var elm = document.getElementsByClassName("editor");
  //alert(elm.length);
  for(i=0;i<elm.length;i++) {
    if (elm[i].style.display === 'none') {
        elm[i].style.display = 'block';
    } else {
        elm[i].style.display = 'none';
    }
  }
}
</script>
{% endblock %}
