{% extends 'base.html' %}


{% block content %}
<title>Social Distribution</title>
<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px;margin-left:10em">
  <!-- The Grid -->
  <div class="w3-row">
    {% if author %}
    <!-- Left Column -->
    <div class="w3-col m3">
      <!-- Profile -->
      <div class="w3-card-2 w3-round w3-white">
        <div class="w3-container">
         <h4 class="w3-center">My Profile</h4>
         <p class="w3-center"><img src="{{author.img.url}}" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
         <hr>
         <p><i class="fa fa-envelope fa-fw w3-margin-right w3-text-theme"></i>{{author.displayName}}</p>
         <p><i class="fa fa-github fa-fw w3-margin-right w3-text-theme"></i>{{author.github}}</p>
         <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i>{{author.bio}}</p>
        </div>
      </div>

    <!-- End Left Column -->
    </div>

    {% endif %}

    <!-- Middle Column -->
    {% if author %}
    <div class="w3-col m7" style="width:55em; margin-top:-1em">
    {% else %}
    <div class="w3-col m7" style="width:85%; margin-top:-1em">
    {% endif %}
      {% if posts %}
      <ul style="list-style-type: none">
      {%for post in posts%}


      <div class="w3-container w3-card-2 w3-white w3-round w3-margin"><br>
        <span class="w3-right w3-opacity">{{post.published}}</span>
        <h3>
        <img alt="user photo" class="img-rounded" height=48 width=48 src="{{ post.author.img.url }}" >
        <a href="{% url 'profile' post.author.id %}" >{{ post.author.displayName }}</a></h3>
        <span>Title:    </span><a href="{% url 'onePost' post.author.id post.id %}" > {{ post.title }}</a></br></br>
        <span>Description:    </span>{{ post.description }}
        <hr class="w3-clear">
        <li>  </br>
        {{ post.content }}</br></br>
        <div class="w3-row-padding" style="margin:0 -16px">
          <div class="w3-half">
            <img src="/w3images/lights.jpg" style="width:100%" alt="Northern Lights" class="w3-margin-bottom">
          </div>
          <div class="w3-half">
            <img src="/w3images/nature.jpg" style="width:100%" alt="Nature" class="w3-margin-bottom">
        </div>
      </div>
      
      <div style="text-align:left">
          {% for comment in post.comments.all %}
            <hr class="w3-clear">
            comment by {{comment.author}}: {{comment.comment}} ({{comment.published}})</br>
          {% endfor %}
      </div></br>
        <hr class="w3-clear">
        <form action="{% url 'comment' %}" method="GET">
          <input hidden="hidden" name="github" value = "{{user.profile.github}}" id="githubID"/>
              {% csrf_token %}
                <input style= "width:80%" name="comment_text"/>
                <input hidden="hidden" name="post_id" value = "{{post.id }}"/>
                <input hidden="hidden" name="content_type" value = "{{contentType}}"/>
                <input type="submit" class="w3-button w3-theme-d2 w3-margin-bottom" value = "Comment"/>
        </form></br>

        {%if post.author.displayName == request.user.username  %}
        <div class="editPost">


            {% if post.visibility == 4 %}
              <p>This post is publicly shareable by URI only: <a href="{{ STATIC_URL }}/post/{{ post.id }}">{{ STATIC_URL }}/{{ post.author }}/{{ post.id }}</a></p>
            {% endif %}

        </div>
        {%endif%}







      </div>





              </li></br>
      {% endfor %}</ul>
      {% else %}
        <p>You do no have any stream to show yet.</p>
      </div>
      {% endif %}

    <!-- End Middle Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-col m2">
      <div class="w3-card-2 w3-round w3-white w3-center">

      </div>
      <br>


      <br>


      <br>



    <!-- End Right Column -->
    </div>

  <!-- End Grid -->
  </div>

<!-- End Page Container -->
</div>

{% endblock %}
